.bg-1 {
	background-color: #ccffff; /*snow blue*/
	color: #000;
}

/*.container-fluid, .container {
    padding-top: 70px;
    padding-bottom: 70px;
}*/

.blur-me {
	filter:blur(3px);
	transition: .3s ease-in-out;
}

.blur-me:hover {
	filter: blur(0);
}

.zoom-me {
	transform: scale(1);
	transition: .3s ease-in-out;
}

.zoom-me:hover {
	transform: scale(1.3);
}

.family-photo {
	padding-top: 50px;
	padding-bottom: 50px;
}

.hide-on-start {
	display: none;
}

.overlay {
	position: fixed;
	top: -1em;
	left: -1em;
	height: 200%;
	width: 200%;
	overflow: hidden;
	background-color: black;
	opacity: 0;
	z-index: 2;
}

.gift {
	padding: 10px;
}

.closed-present:hover {
	cursor: pointer;
}

.footer {
	padding: 10px;
}


.fade-in {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}